@kw:registry=https://krwr.jfrog.io/artifactory/api/npm/main/
//krwr.jfrog.io/artifactory/api/npm/main/:_password=QVA0bWsxVG1ENkc1eG9XMlNaalVKSlphQVlL
//krwr.jfrog.io/artifactory/api/npm/main/:username=achung
//krwr.jfrog.io/artifactory/api/npm/main/:email=achung@kryptowire.com
//krwr.jfrog.io/artifactory/api/npm/main/:always-auth=true